body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	&__text {
		padding: rem(30);
		text-align: center;
		gap: rem(10);
		display: flex;
		flex-direction: column;
	}
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	//width: 100%;
	max-width: 900px;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
}

//===============================================================
.form__body {
    margin-top: rem(36);
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 54px;
        background: #FFFFFF;
        border-radius: 5px;
        margin-bottom: 15px;
        border: none;
        padding: 0 20px;
        font-weight: 300;
        font-size: 14px;
        color: #4B4B4B;
        &:nth-child(3) {
            margin-bottom: 20px;
        }
    }
    &_mt25 {
        margin-top: 25px;
    }
}
.popup {
	&__close {
		position: absolute;
        top: 15px;
        right: 15px;
        font-size: 41px;
        line-height: 21px;
        color: #878787;
        cursor: pointer;
		transition: all .3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				transform: rotate(-270deg);
			}
		}
		
	}
}
.form__input._error {
	box-shadow: 0 0 15px red;
}

.form__body {
	position: relative;
}
.form__body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(238, 238, 238, 0.473) url("../img/loading.gif") center / 50px no-repeat;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}
.form__body._sending::after {
	opacity: 1;
	visibility: visible;
}

.file {
	margin-bottom: rem(10);
}
.file__item {
	position: relative;
	display: flex;
	justify-content: center;
}
.file__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	font-size: 0;
	cursor: pointer;
}
.file__button {
	display: inline-flex;
	min-height: rem(20);
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	background-color: #e8ab3169;
	padding: 0px rem(30);
	font-size: rem(12);
}
.file__preview {
	display: inline-block;
	max-width: 100px;
	padding: 10px 0px 0px 0px;
}
.file__preview img {
	max-width: 100%;
}
.form__input {
	height: rem(50);
	padding: 0px rem(15);
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	transition: all 0.5s ease 0s;
	&:not(:last-child) {
		margin-bottom: rem(10);
	}
}

.form__input:focus {
	box-shadow: 0 0 10px $mainOrange;
}
.form__input._error {
	box-shadow: 0 0 10px $mainOrange;
}

textarea.form__input {
	min-height: 120px;
	resize: vertical;
	padding: 20px;
}
.form {
	&__viewpass {
		font-size: rem(12);
		margin-bottom: rem(20);
		padding-left: rem(10);
	}
	&__button {
		margin-bottom: rem(10);
	}
}