body {
    width: 100%;
    background-color:rgb(183, 167, 197);
    display: flex;
    position: relative;
    padding: 30px;
    margin: 0;
    color: #666;
    background: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    padding-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
}
.icon {
    display: block;
    height: 50px;
    width: 50px;
    margin-right: 30px;
}
.icon:hover {
    fill: rgb(189, 131, 77);
    transition: all .5s;
}

.facebook {
    fill: rgb(63, 60, 61); 
}

.logo {
    fill: rgb(250, 249, 249);
    width: 70px;
    height: 70px;
}

.instagram {
    fill: rgb(63, 60, 61);
}
.logoZ {
    width: 192px;
    height: 87px;
}
