//====================================================================================================
.header {
    &__top {
        background-color: $mainDarkColor;
        color: #fff;
    }
}
.top-header {
    padding: 10px 0;
    &__container {
        display: flex;
        align-items: center;
        gap: rem(20);
        min-height: rem(50); 
		@media (max-width: $mobileSmall) {
			gap: rem(30);	
		}   
    }
    &__menu {
        flex: 1 1 auto;
    }
    &__user {
		position: relative;
		z-index: 5;
        display: inline-flex;
        align-items:center;
        font-weight: 600;
        line-height: math.div(22, 18);
		gap: em(15, 18);
		span {
			font-family: $fontFamily;
		}
        &::before {
            font-size: rem(28);
        }
		@media (any-hover: hover) {
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
		@media (max-width: $tablet) {
			span {
				display: none;
			}
		}
    }
}
//==============================================================
.menu-top-header {
	&__list {
        display: flex;
		row-gap: 5px;
		@include adaptiveValue("column-gap", 60, 20);
        @media (max-width: $tablet) {
			flex-direction: column;
			row-gap: 25px;
		}  
    }
    &__item {
		&_catalog {
			@media (min-width: $tablet) {
				display: none;
			}
		}	
    }
    &__link {
        font-size: rem(16);
        line-height: math.div(20, 16);
		font-family: $fontFamily !important;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		&_catalog {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			justify-content: space-between;
			&::before {
				flex: 0 0 14px;
				height: 14px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: rem(8);
				transform: rotate(-90deg);
				position: relative;
				z-index: -1;
				transform: translateY(rem(-2)) rotate(-90deg);
				font-family: 'icomoon' !important;
			}
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 50, 16, 1992, 4500, 1);
		}
    }
	@media (max-width: $tablet) {
		display: none;
	}
}
//===============================================================
.menu {
	
    &__body{
		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			background-color: $mainDarkColor;
			padding: rem(100) rem(15) rem(50) rem(15);
			z-index: 4;
			transition: left .3s ease 0s;
			&::before {
				content: '';
				position: fixed;
				width: 100%;
				height: 70px;
				left: 100%;
				top: 0;
				background-color: $mainDarkColor;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
    }
	@media (max-width: $tablet) {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	}
    
}
// header-body===================================================
.body-header {
    padding: rem(10) 0;
    background-color: #ECF1F2;
    &__container {
        display: flex;
        min-height: rem(70);
        align-items: center;
		justify-content: space-between !important;
		@media (max-width: $tablet) {
			justify-content: space-between;
		}
    }
    &__logo {
        font-size: rem(42);
        color: $mainDarkColor;
		padding-top: rem(5);
		margin-right: rem(15);
	}
    &__search {
		flex: 1 1 auto;  
		@media (min-width: $tablet) {
			padding-right: rem(20);
			
		}
		@media (min-width: $mobileSmall) {
			@include adaptiveValue("padding-left", 158, -300, 1620, 1620, 1);
		}
    }
}
//===============================================================
.search-header {
    background-color: rgba(7, 7, 7, 0.03);
    border: 1px solid rgba(4, 4, 4, 0.5);
    border-radius: rem(3);
    position: relative;
	@media (min-width: $tablet) {
		max-width: rem(377);
	}
    &__button {
        position: absolute;
        top: rem(1);
        left: rem(8);
        background-color: transparent;
        height: rem(41);
        width: rem(41);
        justify-content: center;
        align-items:center;
		color: rgba(0, 0, 0, 0.5);
    }
    &__input {
		width: 100%;
        height: rem(41);
        padding: 0px rem(20) 0px rem(50);
        background-color: transparent;
        border-radius: rem(3);
        color: $mainColor;
        &::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }
    }
	@media (max-width: $mobileSmall) {
		background-color: #fff;
	}
}
//====================================================================================================
.actions-header {
	display: flex;
	align-items:center;
	@include adaptiveValue("column-gap", 15, -85, 1250, 1000, 1);
	&__location {
		display: inline-flex;
		align-items:center;
		font-weight: 600;
		//margin: 0 rem(25) 0 0;
		@include adaptiveValue("margin-right", 25, 0, 1620, 1400, 1);
		font-family: "Montserrat" !important;
		&::before {
			font-size: rem(24);
			margin: 0px em(10, 24) 0px 0px;
			font-family: icomoon;
			text-decoration: none;
		}
		@media (any-hover: hover) {
			&:hover {
				span {
				text-decoration: underline;	
			}
			}
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
	&__favorite {
		&::before {
			font-size: rem(27) !important;
			position: relative;
			z-index: 5;
		}
	}	
}
//=========================================================
.phones-header {
	position: relative;
	z-index: 5;
	&__cart {
		padding-right: rem(25);
		&::before {
			font-family: 'icomoon' !important;
			font-size: rem(27);
			@media (max-width: $mobileSmall) {
				display: block;	
			}
		}
	}
	&__item {
		position: relative;
		display: flex;
	}
	&__phone {
		font-weight: 600;
		white-space: nowrap;
		line-height: math.div(22, 18);
		@media (max-width: $tablet) {
			font-size: rem(29);
		}
		&::before {
			font-family: 'icomoon' !important;
			content: "\e906";
			color: #fff;
			display: none;
			font-size: rem(27);
			@media (max-width: $mobileSmall) {
				display: block;	
			}
		}
		@media (max-width: $mobileSmall) {
			span {
				display: none;
			}	
		}
	}
	&__arrow {
		color: $mainOrange;
		font-size: rem(14);
		margin: 0px 0px 0px em(17, 16);
		transition: transform .3s ease 0s;
		&.active {
			transform: rotate(-180deg);
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
	&__list {
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		margin-top: rem(5);
		background-color: #fff;
		border-radius: rem(10);
		padding: rem(15);
		box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.2);
		z-index: 3;
		display: none;
		li {
			&:not(:last-child) {
				margin-bottom: em(8, 18);}
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
	&__callback {
		color:$mainOrange;
		font-weight: 700;
		line-height: math.div(22, 18);
		margin-top: rem(3);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;	
			}
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
}
//==========================================================
.cart-header {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 5;
	&__icon {
		flex:  0 0 30px;
		font-size: rem(15);
		position: relative;
		@media (max-width: em(1250)) {
			margin-right: rem(15);
		}
		span {
			position: absolute;
			width: rem(14);
			height: rem(14);
			background-color: $mainOrange;
			font-size: rem(10);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			top: -17px;
			right: 25px;
			color: #fff;
			font-family: "Montserrat" !important;
		}
	}
	&__body {
		font-size: rem(16);
		line-height: math.div(20, 16);
		flex: 0 0 auto;
		@media (max-width: em(1250)) {
			display: none;
		}
	}
	&__summ {
		font-weight: 500;
		font-family: "Montserrat" !important;
		&:not(:last-child) {
			margin-bottom: em(5,16);
		}
	}
	&__link {
		color: $mainOrange;	
		font-family: "Montserrat" !important;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;	
			}
		}
	}
	&__cart {
		flex: 0 0 auto;
	}
}
//============================================================
.catalog-header {
	position: relative;
	background-color: $mainDarkColor;
    color: #fff;
	&__container {
		@media (max-width: $tablet) {
			///padding: rem(30) rem(10);
		}
		@media (max-width: $mobileSmall) {
			padding: rem(15);
		}
	}
}
//=============================================================
.menu-catalog {
	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(25) rem(15) rem(50) rem(15);
		transition: left .3s ease 0s;
		.catalog-open & {
			left: 0;
			z-index: 6;
		}
	}
	&__list {
		display: flex;
		column-gap: 10px;
		justify-content: space-between;
		@media (max-width: $tablet) {
			flex-direction: column;
			@include adaptiveValue("column-gap", 60, 20);
		}
	}
	&__link {
		min-height: rem(70);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
		transition: color .3s ease 0s;
		&[data-parent] {
			&::before {
				font-family: 'icomoon' !important;
				content: "\e900";
				color: #fff;
				display: none;
				@media (max-width: $tablet) {
					display: block;
					transform: rotate(-90deg);
					font-size: rem(10);
				}
			}
			@media (max-width: $tablet) {
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;
				width: 100%;
			}
		}
		@media (max-width: $tablet) {
			min-height: rem(50);
			padding: 0 rem(10);
		}
		&::after {
			content: '';
			opacity: 0;
			visibility: hidden;
			position: absolute;
			bottom: 0;
			left: rem(10);
			height: 1px;
			width: calc(100% - rem(20));
			background-color: $mainOrange;
			transition: all .3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $mainOrange;
				&::after {
					opacity: 1;
					visibility: visible;
				}	
			}
		}
		&._sub-menu-active {
			color: $mainOrange;
			transition: opacity .3s ease 0s;
				&::after {
					opacity: 1;
					visibility: visible;
				}	
		}			
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 50, 16, 1992, 4500, 1);
		}
	}
	&__sub-menu {
		width: 100%;
		left: 0;
		top: 100%;
		background-color: $mainDarkColor;	 
	}
	&__back  {
		display: none;
		font-family: $fontFamily !important;
		@media (max-width: $tablet) {
			display: inline-flex;
			@include adaptiveValue("font-size", 50, 16, 1992, 4500, 1);
			&:not(:last-child) {
				margin-bottom: em(65, 30);
			}
			&::before {
				margin: 0px em(13,30) 0px 0px;
				font-family: 'icomoon' !important;
				text-decoration: none;
			}
		}
		
	}
}
//===================================================
.sub-menu-catalog {
	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(25) rem(15) rem(50) rem(15);
		transition: left .3s ease 0s;
		.sub-menu-open & {
			display: block;
			left: 0;
			z-index: 6;
		}
	}
	&__back  {
		display: none;
		font-family: $fontFamily !important;
		@media (max-width: $tablet) {
			display: inline-flex;
			@include adaptiveValue("font-size", 50, 16, 1992, 4500, 1);
			&:not(:last-child) {
				margin-bottom: em(65, 30);
			}
			&::before {
				margin: 0px em(13,30) 0px 0px;
				font-family: 'icomoon' !important;
				text-decoration: none;
			}
		}
	}
	&__block {
		display: none;	
		@for $var from 1 to 6 {
			&_#{$var} {
				grid-template-columns: repeat($var, minmax(auto, rem(320)));
			}
		}
		&._sub-menu-open {
			display: grid;	
			@media (max-width: $tablet) {
				display: block;
			}	
		}
	}	
	&__container {
		padding: 0 rem(10);
	}	
	&__category {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;	
			}
		}
		@media (min-width: $tablet) {
			padding: rem(30) rem(15) rem(30) 0;
			font-weight: 700;
		}
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: em(25, 16);
			}
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		padding: rem(30) rem(15) rem(30) 0;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		@media (max-width: $tablet) {
			display: none;
		}
	}
	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;	
			}
		}
	}
	&__footer {
		padding: rem(30) rem(15) rem(30) 0;
		@media (max-width: $tablet) {
			display: none;
		}
	}
	&__all {
		font-size: rem(16);
		color: $mainOrange;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;	
			}
		}
	}
	&__link-category {
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 25, 16, 1992, 7500, 1);
			//@include adaptiveValue("font-size", 50, 16, 1992, 4500, 1);
		}
	}	
}
//Burger==========================================================================

.icon-menu {
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: 40px;
		height: 22.5px;
		z-index: 55;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

